<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Consultas Armando</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/sweetalert2.min.css" />
    <link rel="stylesheet" href="css/main.css">
  </head>

  <body>
    <div class="p-5 bg-light" id="app">
      <div class="container">
        <h1 class="display-6 text-center">Consultar Articulo</h1>
        <p class="lead">Codigo de Barras:</p>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            name=""
            id=""
            aria-describedby="helpId"
            placeholder=""
            @input="callDebounceCode()"
            v-model="code"
            ref="forFocus"
          />
          <small id="helpId" class="form-text text-muted">{{ message }}</small>
        </div>
     
        <hr />
        <div class="container" v-if="product.length > 0">
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <div class="card">
                  <div class="card-body">
                    <h1 class="display-3 card-title text-center mt-4 mb-5"   >
                      {{ product[0].name }}
                    </h1>  
                    
                    <div class="row mt-5">
                      <div class="col-6">
                        <h3 class=" display-4  card-text text-center">
                          Precio: {{ formatNumber( 'VED' , product[0].pricesell) }} Bs.
                        </h3>
                      </div>

                    
                      <div class="col-6">
                        <h3 class="display-4  card-text text-center">
                          Ref: {{ formatNumber( 'USD' , product[0].priceusdsale ) }}
                        </h3>
                      </div>
                    </div>
                    <div align="center">
                      <br> <br>
                      <svg id="code" > </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="./js/lodash.min.js"></script>
    <script src="./js/vue-meta.js"></script>
    <script src="./js/sweetalert2.all.min.js"></script>
    <script src="./js/JsBarcode.all.min.js"></script>
    <script src="./js/helpers.js"></script>
    <script src="./js/products.js"></script>
  </body>
</html>
